################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pt-proto-1/Assets/TilePalettes
/pt-proto-1/Assets/Tiles
/.vs
